/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
  --clr-black: black;
  --clr-brown: #8d4e12;
  --clr-white: white;

  --wrapper-smallest: 100% - 3rem;
  --wrapper-biggest: 1500px;

  --ff-tertiary: "Bebas Neue", cursive;
  --clamp-large: 2.5rem, 2.4048rem + 0.4762vw, 3rem;
  --clamp-small: 1.025rem, 1rem + 2vw, 1.15rem;
  --clamp-body: 1.5rem, 1.4048rem + 0.4762vw, 2rem;
}

body {
  font-family: "Roboto", sans-serif;
}

.h1 {
  font-size: clamp(var(--clamp-large));
}

header {
  margin-block: 1em;
  grid-area: "header-home-page";
}

p {
  max-width: 60ch;
  font-size: clamp(var(--clamp-small));
}

.wrapper {
  max-width: min(var(--wrapper-smallest), var(--wrapper-biggest));
  margin-inline: auto;
}

/* home page body style - stick footer to end of page */

.home-page__body {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header-home-page"
    "main-home-page"
    "footer-home-page";
}

.home-page__main {
  grid-area: "main-home-page";
  align-self: center;
}

.home-page__h1,
.branding {
  font-family: "Bebas Neue", cursive;
  max-width: 30ch;
}

.home-page__p {
  margin-block: 0.525rem;
}

.waggling {
  position: relative;
  animation: slide 2s 3 ease-in-out;
  color: var(--clr-brown);
}

@keyframes slide {
  0%,
  100% {
    top: 0px;
  }
  25% {
    top: 20px;
  }

  50% {
    top: -25px;
  }
}

.hero__text {
  display: grid;
}

.routes__link {
  position: relative;
  isolation: isolate;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.125em 1.5em;
  border-radius: 100vmax;
  text-align: center;
  margin: 1em auto 1em 0;
  text-decoration: none;
  background-color: black;
  color: var(--clr-white);
  box-shadow: 2px 12px 14px 3px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 2px 12px 14px 3px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 2px 12px 14px 3px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.routes__link::after {
  content: "";
  position: absolute;
  inset: -10px;
  width: 10%;
  aspect-ratio: 1;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--clr-brown);
  transition: transform 500ms ease-in-out;
}

.routes__link:hover::after,
.routes__link:focus-visible::after {
  transform: scale(50);
  border: transparent;
}

.hero-img__homepage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-img__col {
  position: relative;
}
.hero-img__col::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  mix-blend-mode: multiply;
}

/* Nav & header Styles */

.nav-wrapper {
  max-width: min(var(--wrapper-smallest), var(--wrapper-biggest));
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.branding {
  font-size: 2.5rem;
}
.branding__link {
  text-decoration: none;
  color: var(--clr-black);
}
.nav__ul {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.nav__link {
  --height-transition-time: 200ms;
  --color-transition-time: var(--height-transition-time);
  --color-transition-delay: 200ms;
  --outline-transition-delay: 50ms;
  --nav-padding: 0.5em;
  position: relative;
  color: var(--clr-brown);
  text-decoration: none;
  isolation: isolate;
  padding-inline: var(--nav-padding);
  font-size: 1.5rem;
  font-weight: 600;
  height: 100%;
}

.nav__link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: var(--clr-brown);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform var(--height-transition-time) ease-in-out,
    color var(--color-transition-time) ease-in-out var(--color-transition-delay);
}

.nav__link:hover,
.nav__link:focus-visible,
.nav__link:focus::after,
.nav__link:hover::after {
  transform-origin: bottom left;
  transform: scale(1);
  transition: transform var(--height-transition-time) ease-in-out,
    color var(--color-transition-time) ease-in-out var(--color-transition-delay);
  color: var(--clr-white);
  outline: none;
}

/* Home page main styles */

.grid {
  display: grid;
  gap: 1em;
  align-items: center;
}

.gtc-auto {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* footer */

.footer {
  grid-area: "footer-home-page";
  margin-top: 0;
  background-color: var(--clr-brown);
  padding-block: 3em;
}

.footer__ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.social-media-icon {
  font-size: clamp(2.5rem, 1.4048rem + 0.4762vw, 3rem);
  color: var(--clr-white);
  transition: color 500ms ease-in-out;
}

.social-media-icon:hover {
  transition: color 500ms ease-in-out;
  color: var(--clr-black);
}
