/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --fs-400: 1rem;
  --fw-regualar: 400;
  --clr-black: black;
  --clr-brown: brown;
  --clr-white: white;

  --wrapper-smallest: 100% - 2rem;
  --wrapper-biggest: 1500px;

  --ff-tertiary: "Bebas Neue", cursive;
  --clamp-large: 2.5rem, 2.4048rem + 0.4762vw, 3rem;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: black;
}

.h1 {
  font-size: clamp(var(--clamp-large));
}

header,
main {
  margin-block: 1em;
}

p {
  max-width: 75ch;
}

.wrapper {
  max-width: min(var(--wrapper-smallest), var(--wrapper-biggest));
  margin-inline: auto;
}

/* home page body style - stick footer to end of page */

.home-page__h1,
.branding {
  font-family: "Bebas Neue", cursive;
  max-width: 30ch;
}

.hero-img__homepage {
  height: 100%;
  width: 100%;
}

/* Nav & header Styles */

.nav-wrapper {
  max-width: min(var(--wrapper-smallest), var(--wrapper-biggest));
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.nav__ul {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}
.nav__link {
  --height-transition-time: 500ms;
  --color-transition-time: var(--height-transition-time);
  --color-transition-delay: 150ms;
  --outline-transition-delay: 100ms;
  --nav-padding: 0.5em;
  position: relative;
  color: var(--clr-brown);
  text-decoration: none;
  isolation: isolate;
  padding-inline: var(--nav-padding);
  outline: 0px solid transparent;
  transition: outline var(--height-transition-time) ease
    var(--outline-transition-delay);
}

.nav__link::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--clr-brown);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform var(--height-transition-time) ease-in-out,
    color var(--color-transition-time) ease-in-out var(--color-transition-delay);
}

.nav__link:hover,
.nav__link:focus-visible,
.nav__link:focus::after,
.nav__link:hover::after {
  transform-origin: bottom left;
  transform: scale(1);
  transition: transform var(--height-transition-time) ease-in-out,
    color var(--color-transition-time) ease-in-out var(--color-transition-delay),
    outline var(--height-transition-time) ease-in-out
      var(--outline-transition-delay);
  color: var(--clr-white);
  outline: 2px solid var(--clr-black);
  border-radius: 1px;
}

/* Home page main styles */

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.home-page__main {
  margin-block: 10vh;
}

.gtc-auto {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* footer */

.footer {
  min-height: 150px;
}

.footer__ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 3em;
}

.social-media-icon {
  font-size: clamp(2.5rem, 1.4048rem + 0.4762vw, 3rem);
  color: var(--clr-black);
  transition: color 500ms ease-in-out;
}

.social-media-icon:hover {
  transition: color 500ms ease-in-out;
  color: var(--clr-brown);
}
