/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --clr-white: white;
  --clr-black: black;
  --clr-brown: #85480f;
  --clr-nav-link: var(--clr-brown);
  --wrapper-smallest: 100% - 3rem;
  --wrapper-biggest: 1500px;
  --ff-secondary: "Bebas Neue", cursive;
  --clamp-large: 2.5rem, 2.4048rem + 0.4762vw, 3rem;
  --clamp-small: 1.25rem, 1rem + 2vw, 1.15rem;
}

.unsupported {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.h1 {
  font-family: var(--ff-secondary);
  font-size: clamp(var(--clamp-large));
}

p {
  max-width: 60ch;
  font-size: clamp(var(--clamp-small));
}

.wrapper {
  width: min(var(--wrapper-smallest), var(--wrapper-biggest));
  margin-inline: auto;
}

/* home page body style - stick footer to end of page */

.short-page__body {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header-short-page"
    "main-short-page"
    "footer-short-page";
}

.short-page__header {
  padding-block: 1em;
  grid-area: header-short-page;
}

.short-page__main {
  grid-area: main-short-page;
  align-self: center;
}

.short-page__footer {
  grid-area: footer-short-page;
}

.h1,
.branding {
  font-family: var(--ff-secondary);
}

.home-page__h1 {
  max-width: 30ch;
}

.home-page__p {
  margin-block: 0.525rem;
}

.hero__text {
  display: grid;
}

.hero-img__homepage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hero-img__col {
  position: relative;
}
.hero-img__col::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  mix-blend-mode: multiply;
}

/* Nav & header Styles */

.nav-wrapper {
  width: min(var(--wrapper-smallest), var(--wrapper-biggest));
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.branding {
  font-size: 2.5rem;
  font-family: var(--ff-secondary);
}
.branding__link {
  text-decoration: none;
  color: var(--clr-black);
}

.nav__ul {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.nav__link {
  --height-transition-time: 200ms;
  --color-transition-time: var(--height-transition-time);
  --color-transition-delay: 200ms;
  --outline-transition-delay: 50ms;
  --nav-padding: 0.5em;
  position: relative;
  color: var(--clr-nav-link);
  text-decoration: none;
  isolation: isolate;
  padding-inline: var(--nav-padding);
  font-size: 1.5rem;
  font-weight: 600;
}

/* Home page main styles */

.grid {
  display: grid;
  gap: 1em;
  align-items: center;
}

.gtc-auto {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.waggling {
  color: var(--clr-brown);
}

.routes__link {
  text-decoration: none;
  font-size: 1.25rem;
}

/* footer */

.footer {
  margin-top: 0;
  background-color: var(--clr-brown);
  padding-block: 2em;
  color: var(--clr-white);
}

.footer__ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.social-media-icon {
  font-size: clamp(2.5rem, 1.4048rem + 0.4762vw, 3rem);
  color: var(--clr-white);
  transition: color 500ms ease-in-out;
}

.social-media-icon:hover {
  transition: color 500ms ease-in-out;
  color: var(--clr-black);
}

.copyright {
  margin: 1em auto 0 auto;
  text-align: center;
}

/* Routes page */
.section-intro__routes {
  text-align: center;
  margin-block: 3em;
}

.routes__p {
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.routes__h1 {
  font-family: var(--ff-secondary);
  font-size: clamp(var(--clamp-large));
}

.routes__h2,
.rules__h2,
.newsletter__h2 {
  margin-block: 1em 1em;
  text-align: center;
  font-size: 2rem;
  font-family: var(--ff-secondary);
}

.routes__li {
  list-style: none;
}

.routes-card {
  font-size: 1.25em;
}

.routes__img > img {
  --img-height: 200px;
  --img-width: var(--img-height);
  min-height: var(--img-height);
  min-width: var(--img-width);
}

.routes__span {
  font-weight: 600;
  margin-right: 0.5em;
}

.walk-rules__ul {
  list-style-type: none;
  text-align: justify;
  font-size: clamp(var(--clamp-small));
}

.rules__p {
  margin-inline: auto;
  margin-bottom: 1.5em;
}

strong {
  font-weight: 700;
  text-decoration: underline;
}

.section-routes abbr {
  text-decoration-color: var(--clr-white);
}

section:nth-child(even) {
  margin-top: 1em;
  position: relative;
  padding-block: 1em 5em;
  color: var(--clr-white);
}

section:nth-child(even)::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--clr-brown);
  z-index: -1;
  transform: skewY(3deg);
}

.section__rules {
  padding-bottom: 2em;
}

.section__routes {
  margin-bottom: 3em;
}

/* Beginners Page */
.section-beginners__intro {
  margin-block: 3em 4em;
}

.section-beginners__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: end;
  gap: 1em;
}

.beginners-section__column {
  display: grid;
}

.beginners__h3 {
  font-size: clamp(var(--clamp-small));
}

.padding {
  padding-top: 2em;
}

.beginners-section__newsletter {
  margin-block: 3em;
  min-height: 200px;
}

iframe {
  width: 100%;
  height: 350px;
}

iframe:hover,
iframe:focus-within,
iframe:focus-visible {
  border: 2px solid white;
}

.newsletter__p {
  margin-inline: auto;
}

.legend {
  margin-inline: auto;
  padding-inline: 1em;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

.fieldset {
  padding: 2em;
  border-radius: 10px;
  border: 2px groove var(--clr-black);
  box-shadow: 2px 12px 14px 3px rgba(0, 0, 0, 0.45);
}

.form-wrapper {
  width: min(50%, 600px);
  margin-inline: auto;
  margin-top: 2em;
}

.form-grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-evenly;
  font-size: 1.125rem;
}

.input,
.label {
  padding-block: 0.11em;
}

input {
  border: none;
  padding-left: 0.2em;
}

input:required {
  outline: 2px solid darkred;
}

.input:valid {
  outline: 2px solid darkgreen;
}

.btn {
  position: relative;
  isolation: isolate;
  background-color: var(--clr-black);
  color: var(--clr-white);
  box-shadow: 2px 12px 14px 3px rgba(0, 0, 0, 0.45);
  margin: 1em auto 1em 0;
  font-weight: 600;
  border-radius: 100vmax;
  padding: 0.5em 1.5em;
  overflow: hidden;
  border: none;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  aspect-ratio: 1 / 1;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--clr-brown);
  transform: scale(0);
  transition: transform 500ms ease;
}

.btn:hover::after,
.btn:focus-visible::after {
  transform: scale(1);
  border: none;
  outline: none;
}

.fa-paw {
  margin-right: 0.5em;
}

.btn:hover {
  cursor: pointer;
}

.success-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.oscar-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.success__p {
  margin-top: 1em;
}

em {
  font-style: italic;
}

/* Page not found error 404 */
.grid-center {
  display: grid;
  justify-content: center;
}
.error-404__img {
  max-height: 500px;
  transition: fill 250ms ease;
}

.error-404__img:hover {
  fill: var(--clr-brown);
}

/* animations for index page */

@keyframes slide {
  0%,
  100% {
    top: 0px;
  }
  25% {
    top: 20px;
  }

  50% {
    top: -25px;
  }
}

/* media queries support queries */
@media (max-width: 799px) {
  .form-wrapper {
    width: 100%;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
  }

  .section-beginners__intro {
    margin-block: 4em 5em;
  }
  .flex {
    flex-direction: column;
  }

  .flex:nth-of-type(2) {
    flex-flow: column-reverse;
  }

  @supports (selector(:has(+ *))) {
    :root {
      --bar-width: 60px;
      --bar-height: 8px;
      --hamburger-gap: 6px;
      --foreground: var(--clr-black);
      --background: var(--clr-white);
      --hamburger-margin: 10px;
      --harmgurger-margin-top: 50px;
      --hamburger-animation-time: 200ms ease-in-out;
      --hamburger-height: calc(
        var(--bar-height) * 3 + var(--hamburger-gap) * 2
      );
      --clr-nav-link: white;
    }

    .hide-supported {
      display: none;
    }

    .supported {
      display: flex;
      flex-direction: column;
      place-items: center;
    }

    .hamburger-menu {
      --x-width: calc(var(--hamburger-height) * 1.41421356237);
      display: flex;
      flex-direction: column;
      gap: var(--hamburger-gap);
      width: max-content;
      position: relative;
      top: var(--hamburger-margin-top);
      right: var(--hamburger-margin);
      z-index: 2;
      isolation: isolate;
      cursor: pointer;
    }

    .hamburger-menu::before,
    .hamburger-menu::after,
    .hamburger-menu input {
      content: "";
      height: var(--bar-height);
      width: var(--bar-width);
      background-color: var(--foreground);
      border-radius: 100vmax;
      transform-origin: left center;
      transition: opacity var(--hamburger-animation-time),
        width var(--hamburger-animation-time),
        rotate var(--hamburger-animation-time),
        translate var(--hamburger-animation-time);
    }

    .hamburger-menu input {
      appearance: none;
      outline: none;
      pointer-events: none;
    }

    .hamburger-menu input:checked {
      width: 0;
      opacity: 0;
    }

    .hamburger-menu:has(input:checked)::before {
      rotate: 45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / -2);
    }
    .hamburger-menu:has(input:checked)::after {
      rotate: -45deg;
      width: var(--x-width);
      translate: 0 calc(var(--bar-height) / 2);
    }

    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu input:focus-visible {
      border: 1px solid var(--background);
      box-shadow: 0 0 0 1px var(--foreground);
    }

    .sidebar {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      z-index: -1;
      transition: translate var(--hamburger-animation-time),
        height 300ms ease-in-out;
      translate: -500%;
      padding-inline: 1rem;
      padding-top: calc(
        var(--hamburger-height) + var(--hamburger-margin) + 1rem
      );
      background-color: var(--foreground);
      color: var(--background);
      max-width: 10rem;
      overflow: hidden;
    }
    body:has(.hamburger-menu input:checked) {
      overflow: hidden;
    }

    .hamburger-menu:has(input:checked) + .sidebar {
      translate: 0%;
      height: 100vh;
      z-index: 2;
    }

    .nav__link {
      color: var(--clr-nav-link);
    }
  }
}

::selection {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

@media (min-width: 800px) {
  .nav-wrapper {
    align-items: center;
  }

  .nav__link::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--clr-brown);
    transform: scale(0);
    transform-origin: bottom right;
    transition: transform var(--height-transition-time) ease-in-out,
      color var(--color-transition-time) ease-in-out
        var(--color-transition-delay);
  }

  .nav__link:hover,
  .nav__link:focus-visible,
  .nav__link:focus::after,
  .nav__link:hover::after {
    transform-origin: bottom left;
    transform: scale(1);
    transition: transform var(--height-transition-time) ease-in-out,
      color var(--color-transition-time) ease-in-out
        var(--color-transition-delay);
    color: var(--clr-white);
    outline: none;
  }

  .waggling {
    position: relative;
    animation: slide 2s 3 ease-in-out;
    color: var(--clr-brown);
  }
  .last-route-img {
    margin-right: 4em;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: initial;
  }
  header {
    background-color: var(--clr-brown);
    padding-block: 1em;
    margin-top: 0;
  }
  .nav__link::after {
    background-color: var(--clr-black);
  }
  .btn {
    background-color: var(--clr-white);
    color: var(--clr-black);
    transition: color 250ms linear 125ms;
    box-shadow: 6px 8px 5px -4px rgba(255, 255, 255, 0.35);
  }

  .btn:hover,
  .btn:focus-visible {
    color: white;
  }

  ::selection {
    background-color: var(--clr-white);
    color: var(--clr-black);
  }

  ::placeholder {
    color: var(--clr-white);
  }

  .waggling {
    color: var(--clr-white);
  }

  .branding__link,
  .nav__link {
    color: var(--clr-white);
  }
}
